<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-3">
      <div id="form-search">
        <%= form_tag("#", method: "get") do %>
          <%= label_tag(:q, "Search around:") %><br/>
          <%= text_field_tag(:q, params[:q]) %>
          <%= label_tag(:radius, "radius:") %><br/>
          <%= number_field_tag(:radius, params[:radius])%><br/>
          <%= submit_tag "Search", class:"btn btn-success"%>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div id="search-results">
        <div class="row">
          <% @spots_results.each do |spot|%>
            <div class="col-xs-12 col-sm-6">
              <%=spot.title%>
              <%=spot.description%>
            </div>
           <%end%>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="map-results">

      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-results' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

