<div class="container padded">
  <div class="row">

    <div class="col-xs-12 col-sm-6">

      <div class="row">
        <div class="col-xs-12">
          <div id="form-search">
            <legend>Your search :</legend>
            <%= form_tag("#", method: "get", class:"form-inline") do %>
              <p>Your destination: <p>
              <div class="form-group">
                <%= text_field_tag(:q, params[:q], placeholder: "ex: Paris", class: "form-control", required:"required") %>
                <%= number_field_tag(:radius, params[:radius], placeholder: "ex: 5", class: "form-control", min:"0" )%>
              </div>


              <div id="advanced-search" class="hidden">
                <p>Select your price range :</p>
                <div class="c-inputs-stacked">
                  <label class="c-input c-radio">
                    <input id="price1" name="price" type="radio" value="min">
                    <span class="c-indicator"></span>
                    < 25€
                  </label><br/>
                  <label class="c-input c-radio">
                    <input id="price2" name="price" type="radio" value="medmin">
                    <span class="c-indicator"></span>
                    25€ < 50€
                  </label><br/>
                  <label class="c-input c-radio">
                    <input id="price3" name="price" type="radio" value="medmax">
                    <span class="c-indicator"></span>
                    50€ < 100€
                  </label><br/>
                  <label class="c-input c-radio">
                    <input id="price4" name="price" type="radio" value="max">
                    <span class="c-indicator"></span>
                    > 100€
                  </label><br/>
                  <label class="c-input c-radio hidden">
                    <input id="price4" name="price" type="radio" value="all" checked="checked">
                    <span class="c-indicator"></span>
                    > 100€
                  </label><br/>
                </div>
              </div>


              <button class="btn btn-success" class="form-control">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>


            <% end %>
            <button id="enhance" class="btn btn-link">Enhance your choice</button>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="search-results">
            <% @spots_final_results.each do |spot|%>
              <%= render "spots/card_search_spot", spot: spot %>
            <%end%>
          </div>
          <div id="paginator">
            <%= paginate @spots_final_results %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div id="map-results">

      </div>

    </div>


  </div>
</div>


<!-- Map javascript -->
<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-results' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if ( markers.length == 1) {
          handler.getMap().setZoom(14);
        }
        handler.getMap().setOptions({'scrollwheel': false});
      });
    })

    $(document).on('ready', function() {
      $('#enhance').click(function(){
        $('#advanced-search').removeClass('hidden');
        $(this).addClass('hidden');
      })

      $( ".card-search-spot" ).hover(function() {
          $(".card-search-spot").addClass('fadded');
          $(this).removeClass('fadded');
        }, function () {
          $(".card-search-spot").removeClass("fadded");
        }
      );
    })
  </script>
<% end %>

