<div class="container" style= "min-height: 80vh;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Inscription</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs">
          <%= f.input :first_name, input_html: { placeholder: "Prénom" } %>
          <%= f.input :last_name, input_html: { placeholder: "Nom" }%>
          <%= f.input :phone_number, input_html: { placeholder: "numero de telephone" } %>
          <%= f.input :description, input_html: { placeholder: "Décrivez vous en quelques mots" } %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

