<div class="tabs">
  <a class="tab active" data-target="#reservation" href="#">
    <h3><%= @pending_bookings.length %></h3>
    <p>Mes Prochains Voyages</p>
  </a>
  <a class="tab" data-target="#location" href="#">
    <h3><%= @pending_locations.length %></h3>
    <p>Mes pêcheurs</p>
  </a>
</div>


<div class="tab-wrapper">
<div class="tab-content" id="reservation">

<% if @bookings %>

  <div class="container">
  <div class="row">
    <h4 class="text-center">Mes réservations</h4>
  </div>
    <div class="row">
      <div class="col-md-2">
      <p> <strong>Le Spot </strong></p>
      </div>
      <div class="col-md-2">
      <p> <strong>Propriétaire </strong></p>
      </div>
      <div class="col-md-2">
      <p> <strong>Prix </strong> </p>
      </div>
      <div class="col-md-2">
      <p> <strong>Date </strong></p>
      </div>
      <div class="col-md-2">
      <p><strong>Statut</strong></p>
      </div>

      <div class="col-md-2">
      <p><strong>Review</strong></p>
      </div>

    </div>
  <% @bookings.each do |booking| %>
    <div class="row">
    <div class="col-md-2">
    <p> <%= link_to booking.spot.title, spot_path(booking.spot_id) %> </p>
    </div>
    <div class="col-md-2">
      <p> <%= link_to booking.spot.user.first_name, show_user_path(booking.spot.user_id) %> </p>
    </div>
    <div class="col-md-2">
    <p><%= booking.price %></p>
    </div>
    <div class="col-md-2">
    <p><%= booking.checkin %></p>
    </div>
    <div class="col-md-2">
    <p><%= booking.status %></p>
    </div>

    <div class="col-md-2">
       <!-- you can review if your order has been confirmed and it has happened -->
      <% if !Review.where("booking_id = #{booking.id} and ownership = 'false'").empty? %>
        <p>Already Done</p>
      <%else%>
       <% if (booking.status == 'Confirmée' && booking.checkin.to_date < DateTime.now ) %>
        <%= link_to new_booking_review_path(booking) do %>
          <span class="label label-primary">Commentaire</span>
        <% end %>
       <% elsif booking.status == 'Confirmée'%>
         <p> Bientôt :-) </p>
       <%else%>
       <p>N/A</p>
       <% end %>
      <%end%>



    </div>
    </div>
  <%end%>
  </div>
<%end%>
</div>

<div class="tab-content hidden" id="location">
<% if @locations %>
<div class="container">
  <div class="row">
    <h4 class="text-center">Mes locataires</h4>
  </div>
  <div class="row">
      <div class="col-md-2">
      <p> <strong>Le Spot </strong></p>
      </div>
      <div class="col-md-1">
      <p><strong> Le Pêcheur</strong> </p>
      </div>
      <div class="col-md-1">
      <p> <strong>Date </strong></p>
      </div>
      <div class="col-md-1">
      <p><strong>Prix</strong></p>
      </div>
      <div class="col-md-4">
      <p><strong>Statut</strong></p>
      </div>

      <div class="col-md-1">
      <p><strong>Review</strong></p>

      </div>
    </div>
  <% @locations.each do |location| %>
  <div class="row">
    <div class="col-md-2">
      <p> <%= link_to location.spot.title, spot_path(location.spot_id) %> </p>
    </div>
    <div class="col-md-1">
      <p> <%= link_to "#{location.user.first_name}", show_user_path(location.user_id) %> </p>

    </div>
    <div class="col-md-1">
      <p><%= location.checkin%></p>
    </div>
    <div class="col-md-1">
      <p><%= location.price%></p>
    </div>
    <div class="col-md-4">

      <% if location.status == "En attente de confirmation" %>

        <ul class = "list-inline">
          <li> <%= location.status%> :
          </li>
          <li>
          <%= simple_form_for(location) do |f| %>
            <%= f.error_notification %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Confirmée" } %>
            <%= f.submit  'OUI', :class => "btn btn-success" %>
          <% end %>
          </li>

          <li>
          <%= simple_form_for(location) do |f| %>
            <%= f.error_notification %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Refusée" } %>
            <%= f.submit  'NON', :class => "btn btn-warning" %>
          <% end %>
          </li>
        </ul>
      <%else%>
        <p><%= location.status%></p>
      <%end%>

    </div>

    <div class="col-md-1">
    <!-- you can review if your order has been confirmed and it has happened -->
    <!--  We also had that we can only review once -->
    <% if !Review.where("booking_id = #{location.id} and ownership = 'true'").empty? %>
      <p>Already Done</p>
    <%else%>
      <% if (location.status == 'Confirmée' && location.checkin.to_date < DateTime.now ) %>
        <%= link_to new_booking_review_path(location) do %>
          <span class="label label-primary">Commentaire</span>
        <% end %>
      <%else%>
        <p>N/A</p>
      <% end %>
    <%end%>
    </div>
  </div>

  <%end%>
</div>
<%end%>
</div>
</div>



<% content_for :after_js do %>
  <% javascript_tag do %>
    $(function(){

      $(".tab").on("click", function(e){
        // Change active tab
        $(".tab").toggleClass( "active", false)
        $(this).toggleClass("active", true)
        // Hide all tab-content (use class="hidden")
        $(".tab-content").toggleClass( "hidden", true)
        // Show target tab-content (use class="hidden")
        var adress = $(".active").data("target");
        $(adress).toggleClass( "hidden", false);
      });

    });
  <% end %>
<% end %>

