
<div class="flip">
  <div class="card">

    <div class="face front">
      <div class="well well-sm inner">
        <a class="card-link" href="#" ></a>
        <div class="card-front-description">
          <div class="card-title">
            <h2>Au lac des terres Rouges</h2>
          </div>
        </div>
        <div class="user text-center">
          <%= image_tag("fishing-girl", class: "avatar-bordered")%>
        </div>
        <div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "background" %>');">
      </div>
    </div>
    </div>

    <div class="face back">
       <div class="well well-sm inner">
         <a class="card-link" href="#" ></a>
         <div class="card-front-description">
           <div class="card-title">
             <p>description du lac</p>
           </div>
         </div>
         <div class="mini-cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "background" %>');">
         </div>
          <ul class="list-inline">
            <li>
              <%= link_to show_user_path(current_user) do %>
              <i class="fa fa-user"></i>
              <% end %>
            </li>
            <li>
              <%= link_to bookings_path() do %>
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
         </div>
    </div>
  </div>
</div>


