
<h4 class="text-center"> Review <%=@booking.spot.title%> </h4>

<%= simple_form_for([@booking,@review]) do |form| %>
  <%= form.input :content, label: "Votre avis" %>
  <%= form.input :rating, collection: [0, 1, 2, 3, 4, 5], label: "Votre note" %>
  <%= form.button :submit %>
<% end %>
